body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* title-image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* download-button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 4.5%;
  text-align: center;
}

.icon-feature {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon-feature:hover {
  color: #ff4c68;
}

/* testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testmon-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  padding: 7% 15%;
}

/* press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.image-press {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.column-pricing {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 15%;
}

.text-cta {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* footer */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.icon-social {
  margin: 10px 20px;
}

/* Media Queries */

@media (max-width: 992px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}